*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shard style */
.btn{
    background-color: #469165;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
    
}
.btn2{
    background: none;
    padding: 12px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
}
button:hover {
    background: #81c23b;
    transform: translateY(-4px);
}
.card-content{
    background-color: #FFFFFF;
    height: 300px;
    width: 322px;
    box-shadow: 0 0 8px 0 #00000056;
    border-radius: 8px;
    padding-top: 69.5px;
}
.img-box{
    height: 60px;
    width: 60px;
    background-color: #F95555;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* main style */
nav{ 

    height: 92px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 16px 120px;
    align-items: center;
    
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
nav a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;  
}
#banner{
    background: url(/assets/hero-bg.png);
    height: 674px;
    padding: 115.5px 120px 179.5px 120px ;
    filter: brightness(80%);
    
}

#banner .banner-content{
    text-align: center;
}
.banner-content .hade-title{
    background-color: #FFFFFF;
    padding: 8px 12px;
    height: 35px;
    width: 229px;
    border-radius: 1000px;
    margin:auto ;
    
}
.green-dot{
    width: 9px;
    height: 9px;
    background-color: #469165;
    border-radius: 50%;
    display: inline-block;
    box-shadow:0 0 0 2.5px  #46916584 ;
    
    
}
.hade-title h4{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
#banner .title h1 {
    font-size: 72px;
    color: #FFFFFF;
    line-height: 84px;
    margin-top: 16px;
}
.coler-green{
    color: #30B868;
}
.banner-content .banner-info p {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 16px;
}
.banner-content .banner-buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

#notes {
    height: 455px;
    padding: 0 120px;
    text-align: center;
    background-color: #F7F6F2;
    overflow: hidden;

}
.note-container .note-taitle{
    height: 152px;
    width: 1360px;
    padding-top: 56px;
    margin-bottom: 44px;
    
}
.note-container .note-taitle h2{
    font-size: 48px;
    color: #001931;
    
}
.note-container .note-taitle p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    margin-top: 16px ;
}

.note-container .note-cards{
    display: flex;
    gap: 24px;
}
.note-container .note-cards .card-content h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    padding-top: 16px;
}
.note-container .note-cards .card-content p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}

#solution{
    height: 840px;
    padding: 120px;
    
}
#solution .solution-container{
    display: flex;
}
#solution .solution-container .solution-info{
    height: 396px;
    width: 700px;
}
#solution .solution-container .solution-info .info-doc{
    padding: 102px 0 102px 60px ;
    gap: 44px;
    display: flex;
    flex-direction: column;

}
.doc-text h6{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}
.doc-text h2{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}
.doc-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 16px;
}
.doc-list p{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #001931;
    margin-bottom: 16px; 
    display: flex;
    gap: 6px;
}

#bottom{
    height: 506px;
    text-align: center;
    
}
#bottom .bottom-info{
    height: 384px;
    width: 1360px;
    margin: auto;
    background-color: #F7F6F2;
    padding-top: 80px;
    border-radius: 12px;
}
#bottom .bottom-info h2{
    font-size: 40px;
    color: #001931;
}
#bottom .bottom-info p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 24px;
}

footer{
    height: 348px;
    background-color: #001931;
    
}
footer .footer-container{
    height: 228px;
    width: 1360px;
    margin: 0 auto;
    padding-top: 120px;
}
footer .footer-info{
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 1360px;
    margin-bottom: 80px;
}
.footer-info .Social h4 {
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
}
.footer-info .Social .link-icon{
    height: 20px;
    width: 92px;
    display: flex;
    gap: 16px;
    margin-top: 16px;
}
.link-icon a{
    height: 20px;
    width: 20px;
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 50%;
}
.end-info p{
    text-align: center;
    color: #FAFAFA;
    margin-top: 30px;
}


